@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/site.css" />

<style>
    .color {
        color: lightblue;
    }
</style>
    

<div class="content" >
    
    <h1 class="display-4 color" >ברוכים הבאים לאוצר הספרים</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" style="color: lightblue;">building Web apps with ASP.NET Core</a>.</p>
</div>
    
       